/* index.module.css */

/* Estilo para el contenedor principal */
.LandingContainer {
  width: -webkit-fill-available;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  align-items: center;
  text-align: left;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/imagenes/Land.png"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: 1; 
  
}

/* Estilo para la tarjeta */
.card {
  background-color: white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 51rem;
  height: 100%;
  max-height: 33rem;
  font-family: "Poppins-Medium";
  font-weight: 500;
  margin: auto;
  padding: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #4D4D4D; /* Letras gris oscuro */
}

.card h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #FAB180; /* Naranja */
}

.card h2 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #4B5965; /* Letras gris claro */
}

.card p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Estilo para el enlace */
.Link {
  font-size: 1.2rem;
  color: #007bff; /* Azul */
  text-decoration: none;
  transition: color 0.3s ease;
}

.Link:hover {
  color: #0056b3; 
}

:global(.dark-mode) .LandingContainer {
  background-color: #383636; 
  background-image: url("../../assets/imagenes/LandMO.png");
}

/* Estilos para el modo oscuro */
:global(.dark-mode) .card {
  background-color: #232323; 
  color: #FFFFFF; 
}

:global(.dark-mode) .card h1 {
  color: #FAB180; 
}

:global(.dark-mode) .card h2 {
  color: #CCB5A5; 
}

:global(.dark-mode) .Link {
  color: #FAB180; 
}

/* Estilos responsivos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
    max-width: none;
    height: auto;
    max-height: none;
  }

  .card h1 {
    font-size: 2rem;
  }

  .card h2 {
    font-size: 1.4rem;
  }

  .card p {
    font-size: 1.1rem;
  }
}
