.head{
    height: 7rem;
    padding: 1rem;
    border-bottom: 3px solid black;
}
.head h1{
    font-family: "Rubik-Medium";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    color: #232323;
}
.cardProfile h1{
    font-family: "Rubik-Medium";
    font-size: 1.5rem;
    text-align: left;
    padding: 0 1rem 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #9AC2EF;
}
.cardProfile h3{
    font-family: "Rubik-Regular";
    text-align: left;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #232323;
}
.textContainer{
    max-height: 2.58em;
    line-height: 1.2em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: pre-line; */
}
.selectContainer{
    padding-left: 30vw;
    padding-right: 30vw;
}
.selectContainer Select{
    width: 10rem;
    height: 1.6rem;
    border-radius: 10px;
    border: 0.5px solid;
    font-size: 1rem;
}
.selectContainer option{
    font-size: 1rem;
}
.cardContainer{
    overflow: auto;
    /* border: 1px solid red; */
    height: 90vh;
}
.card{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cardImage{
    height: 100%;
    width: 15%;
    overflow: hidden;
    align-items: center;
    /* border: 1px solid red; */
}
.cardImage img{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.nameIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    /* border: 1px solid red; */
}
.nameIcon p{
    font-weight: bold;
}
.cardProfile{
    width: 85%;
    /* border: 1px solid black; */
    text-align: left;
    margin-left: 1vw;
}
.cardProfile p{
    font-size: medium;
}
.subtitle{
    font-weight: bold;
}
.buttons{
    background-color: #FAB180;
    color: black;
    border-radius: 25px;
    margin: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid black;
    padding-left: 1vw;
    padding-right: 1vw;    
}
:global(.dark-mode) .head h1{
    color: #CCB5A5;
}
:global(.dark-mode) .cardProfile h1{
    color: #CCB5A5;
}
:global(.dark-mode) .cardProfile h3{
    color: #CCB5A5;
}
:global(.dark-mode) .card{
    box-shadow: 2px 2px 4px rgba(196, 196, 196, 0.5);
}
:global(.dark-mode) .head{
    border-bottom: 1px solid #CCB5A5;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container{
        /* position: relative; */
        /* border: 1px solid red; */
        /* min-width: fit-content; */
        width: 100%;
    }
    .head{
        /* border: 1px solid greenyellow; */
        /* min-width: fit-content; */
        height: auto;
    }
    .selectContainer{
        padding: 0px;
        text-align: center;
    }
}