/* Estilos para la barra de navegación en modo claro */
.navigation {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
  width: 100%;
  background-color: #f1f1f1;
  color: #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: "Poppins Medium", sans-serif;
}

/* Estilos para el logo */
.logo img {
  height: 40px;
}


/* Estilos para los botones de inicio de sesión y registro */

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button, .auth-buttons a {
  font-size: 1rem;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #9ac2ef00;
  border-radius: 5px;
  background-color: #9ac2ef;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

/*.auth-buttons button {
  background-color: #fab180;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
}*/

.register-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 55%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 5px;
  display: none;
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
  opacity: 0;
  visibility: hidden;
  width: 200px;
}

.auth-buttons.show-menu .register-options {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  background-color: #00000000;
}

.register-options a {
  color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 0.3rem;
    background-color: #9ac2ef;
}

.register-options a:hover {
  background-color: #f2f2f2;
}

/* Estilo para el botón de modo oscuro en modo claro */
.dark-mode-button button{
  background-color: #4b596500;
  color: #fab180;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

/* Estilos responsive para modo claro */
/* Pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .auth-buttons {
    flex-direction: column;
    align-items: center;
  }

  .auth-buttons button {
    display: none; /* Ocultar el botón "Crea tu cuenta" en versión responsive */
  }

  .responsive-icon-button {
    display: block; /* Mostrar el icono en versión responsive */
  }

  /* Asegurar que el botón "Crea tu cuenta" esté oculto en versión responsive */
  .desktop-create-account-button {
    display: none;
  }
  

  /* Mostrar el botón "Crea tu cuenta" en el menú desplegable */
  .auth-buttons.show-menu .desktop-create-account-button {
    display: block;
  }

  .register-options {
    position: relative;
    left: auto;
    transform: none;
    width: 100%;
    background-color: #f1f1f1;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .auth-buttons.show-menu .register-options {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    opacity: 1;
    visibility: visible;
  }

  .register-options a {
    text-align: left;
    margin: 0.3rem 1rem;
  }

  .register-options a:hover {
    background-color: initial;
  }
}

/* Estilos para el modo oscuro */
:global(.dark-mode) .navigation {
  background-color: #232323;
  color: #fab180;
}

:global(.dark-mode) .auth-buttons button {
  background-color: #fab180;
  color: #232323;
}

:global(.dark-mode) .auth-buttons a {
  background-color: #fab180;
  color: #232323;
}

:global(.dark-mode) .register-options {
  background-color: #4b5965;
}


:global(.dark-mode) .register-options a {
  color: #232323
}

:global(.dark-mode) .register-options a:hover {
  background-color: #9ac2ef;
}

:global(.dark-mode) .dark-mode-button button {
  background-color: #08121b00;
  color: #fab180;
}
