/* Estilo para el cuerpo de la página */
body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Estilo para el contenedor principal */
  .NotFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  /* Estilo para el mensaje de error */
  p {
    font-size: 24px;
    color: #9ca3af;
    margin-bottom: 20px;
  }
  
  /* Estilo para el enlace de regreso a la página principal */
  Link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Estilo para el enlace de regreso cuando se le pasa el ratón por encima */
  Link:hover {
    color: #0056b3;
  }
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    p {
      font-size: 20px;
    }
  
    Link {
      font-size: 16px;
    }
  }
  