

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	padding-top: 1vh;
	text-align: center;
}



.card {
	padding: 1em;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fontsTest/Montserrat-Regular.ttf') ;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'Montserrat-Light';
    src: url('./assets/fontsTest/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./assets/fontsTest/Montserrat-ExtraBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fontsTest/Montserrat-Bold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fontsTest/Montserrat-Medium.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fontsTest/Montserrat-SemiBold.ttf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fontsTest/Poppins-Medium.otf');
  }
  
  @font-face {
    font-family: 'Rubik-Light';
    src: url('./assets/fontsTest/Rubik-Light.ttf');
  }
  
  @font-face {
    font-family: 'Rubik-Regular';
    src: url('./assets/fontsTest/Rubik-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Rubik-Medium';
    src: url('./assets/fontsTest/Rubik-Medium.ttf');
  }

/*  
.read-the-docs {
	color: #888;
}
*/

