# VSCODE IGNORE
.vscode/
.vscode/*
.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#PROJECT IGNORE
users.js

#API IGNORE
/api/node_modules
/api/.env
/api/package-lock.json

#CLIENT IGNORE
/client/public
/client/node_modules
/client/notes.txt
/client/*.config.js
/client/*.config

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
config
tailwind.config.js
vite.config.js
refs/remotes/origin/main
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
