.mainContainer{
    z-index: 3;
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatHeader{
    padding: 0 25px;
    height: 80px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9AC2EF;
    gap: 15px;
    -webkit-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
}

.infoDiv{
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.profileImage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.name{
    font-size: 1.25rem;
    color: #232323
}

.status{
    font-size: .8rem;
    text-align: start;
    color: #232323;
    opacity: 75%;
    padding-bottom: 5px;
}

.headerIcon{
    font-size: 2rem;
    color: #232323;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: linear .2s;
}

.headerIcon:hover{
    transition: linear .2s;
    cursor: pointer;
    background-color: #b9d1ec;
}


/* HASTA ACA HEADER */

.chatContainer{
    width: 100%;
    background-color: #e5e5e5;
    opacity: .5;
    height: calc(100vh - 160px);
}

/* */

.messageBar{
    z-index: 3;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
}

.messageBarIconDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 180px;
    padding: 0 25px;
}

.messageBarIcon{
    font-size: 3.5rem;
    color: #232323;
    opacity: 85%;
    border-radius: 50%;
    padding: 10px;
}

.messageBarIcon:hover{
    cursor: pointer;
    background-color: #2323232c;
}

.messageBarInputDiv{
    background-color: #e5e5e5;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(98% - 180px) ;
}

.messageBarInput{
    background: none;
    padding-left: 1.25rem;
    color: #232323;
    width: 90%;
}

.messageBarInput:focus{
    outline: none;
}

.messageBarInputButton{
    padding: 8px;
    width: 10%;
    font-size: 2.5rem;
    color: #232323;
    border-radius: 0 1.25rem 1.25rem 0;
    transition: .2s linear;
}

.messageBarInputButton:hover{
    background: linear-gradient(90deg, #e5e5e5, #2323232c 20%, #2323232c);
    cursor: pointer;
}