
.BGContainer {
    display: block;
    width: 80vw;
    height: fit-content;
    background-color: white;
    text-align: left;
    font-family: "Poppins-Medium";
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: .6rem;
    margin: auto auto;
    margin-top: 1%;
}

.BGContainer h2 {
    font-family: "Rubik-Medium";
    font-weight: 100;
    border-radius: .2rem;
    width: fit-content;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.BGContainer h3 {
    font-family: "Rubik-Regular";
    border-radius: .2rem;
    
    width: fit-content;
    padding: 0 1rem;
}

.BGContainer header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 12rem;
    background-color: #9AC2EF ;
    position: relative;
    margin-bottom: 5rem;
    border-radius: .4rem .4rem 0 0;

}

.EditButton {
    background-color: transparent;
    border: 0;
    height: fit-content;
    margin-top: auto;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-bottom: .5rem;

}
.EditButton:hover {
    border: 0;
}

.BGContainer main {
    display: flex;
}

.BGContainer section {
    position: relative;
    padding: 1rem 6%;
}

.ImageContainer {
    border-radius: 90%;
    width: 14rem;
    height: 14rem;
    position: absolute;
    left: 5rem;
    bottom: -40%;
    cursor: pointer;
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 90%;
}

.Extra {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 90%;
    transition: .2s;
}

.ImageContainer:hover .IconContainer {
    visibility: visible;
}

.IconContainer {
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: block;
    top: 25%;
    left: 25%;
    z-index: 3;
    visibility: hidden;
}

.ImageContainer:hover .Extra {
    opacity: 0.5;
    background-color: #344C5A;
    border-radius: 90%;
}

.FirstInfo h1, .FirstInfo h3 {
    
    width: fit-content;
    padding: 0 1rem;
    border-radius: .4rem;
    margin: 0;
    margin-bottom: 1rem;
}

.Profile > hr {
    width: 90%;
    margin: 0 auto;
}

.BGContainer header h1 {
    font-size: 2.6rem;
    text-align: center;
    width: fit-content;
    display: block;
    margin-left:22rem ;
    padding-top: 6rem ;
}

.Studies {
    display: flex;
    gap: 1rem;
}

.Background {
    position: absolute;
    background-color: #C4C4C4;
    opacity: 0.5;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
}

.EditPhoto h2 {
    background-color: initial;
    margin: 0;
}

@media screen and (max-width: 845px) {
    .FirstInfo h1 {
        font-size: 2.5rem;
    }

    .FirstInfo h2 {
        font-size: 2rem;
    }
}

:global(.dark-mode) .BGContainer {
    background-color: #383636
}

:global(.dark-mode) .BGContainer h2, :global(.dark-mode) .BGContainer h3, :global(.dark-mode) .BGContainer h1 {
    color: #CCB5A5
}

:global(.dark-mode) .BGContainer header {
    background-color: #FAB180;
}

:global(.dark-mode) .BGContainer header h1 {
    color: #344C5A;
}


@media screen and (max-width: 758px) {

    .Relations {
        display: none;
    }

    .BGContainer header h1 {
        display: none;
    }

    .BGContainer section h1, .BGContainer section h3 {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .BGContainer header {
        background-color: #FAB180 ;
        border-radius: 0;
    }

    .BGContainer {
        width: 100%;
        border-radius: 0;
        margin: 0;
        min-height: 100vh;
    }

    .ImageContainer {
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .Studies {
        flex-direction: column;
    }
}











/* .mainDiv{
    background-color: #e8e8e8;
    width: 100vw;
    height: 100vh;
    color: #344C5A;
}

.bold{
    font-weight: bold;
}

.dropzone{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.header{
    position: absolute;
    height: 20vh;
    width: 100vw;
    background-color: #9AC2EF;
    -webkit-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
}

.header p{
    margin: 17vh 0 0 30vw;
}

.profilePictureBasicInfoContainer{
    margin: 0 auto;
    display: flex;
    width: 80%;
    flex-direction: row;
    padding-top: 8vh;
}

.profilePictureContainer{
    width: fit-content;
    z-index: 5;
}

.profilePicture{
    max-height: 32vh;
    max-width: 20vw;
    border-radius: 50%;
    border: 5px solid white;
}

.imageChangeButton{
    position: absolute;
    top: 16vh;
    left: 30vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userBasicInfoContainer{
    width: 80vw;
    margin: 8vh auto 0 auto;
    padding-left: 1.8vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.userInfoName{
    font-size: 2rem;
}

.body{
    width: 75vw;
    margin: 5vh auto;
}

.generalInfoContainer{
    border: 3px #9AC2EF solid;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.headerButtonContainer{
    padding:  10px 10px 0 0; 
}

.informationTitleDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.userInfo{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerEditionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerEditionInput{
    height: 1.2rem;
    font-size: 1.2rem;
}

.infoDiv{
    background-color: #e8e8e8;
    margin: 5vh auto;
    height: 70vh;
    width: 100vw;
    display: flex;
}

.infoLeftDiv{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.editionButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.buttonIcon{
    font-size: 1.5rem;
    margin: auto;
}

.infoButtonDiv{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: #344C5A;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 1px 0;
}

.button:hover{
    background-color: #4d6675;
    border: none;
}

.activeButton{
    background-color: white;
    color: #344C5A;
    border-radius: 10px 0 0 10px;
    margin: 1px 0;
    border: none;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bio{
    font-size: 40px;
    margin: auto 20px;
} */
