.mainContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: #9ac2ef8c;
}

.groupImage{
    width: 200px;
    height: 200px;
    border: 2px #FAB180 solid;
}

.groupImage:hover{
    cursor: pointer;
}

.inputDiv{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label{
    margin-left: 10px;
    color: #232323;
    width: 100%;
    text-align: start;
}

.input{
    margin-top: 3px;
    height: 2.4rem;
    border-radius: 10px;
    width: 100%;
    color: #232323;
    padding: 10px;
    border: 2px #FAB180 solid;
}

.createButton{
    border: 2px solid #232323;
    border-radius: 10px;
    padding: 8px 15px;
    background-color: #FAB180;
    color: #232323;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}

.createButton:hover{
    border: 2px solid #FAB180;
    color: #FAB180;
    background-color: #232323;
}