.BGContainer {
    position: relative;
    justify-content: center;
    gap: 1rem;
    width: 80vw;
}

.BGContainer header {
    background-color: #9AC2EF;
    font-family: "Rubik-Regular";
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BGContainer header h1 {
    color: rgb(58, 58, 58);
    margin: 0;
}

.Feed {
    background-color: white;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.3rem 5%;
    margin-bottom: .7rem;
}

.Feed hr {
    border: 1px solid #d7d7d7 ;
}


.Filters {
    position: sticky;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 30rem;
    width: 17rem;
    color: #324A59;
    top: 1.2rem;
}

.Title {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1.3rem;
    padding-top: 1rem;
}

.Title img {
    height: 1.5rem;
    width: 1.5rem;
}

.Title h2 {
    font-family: "Montserrat-SemiBold";
    font-size: 1.2rem;
    margin: 0;
}

.Feed hr {
    margin: 1rem 0;
    width: 100%;
}

:global(.dark-mode) .BGContainer {
    background-color: #242424;
}
:global(.dark-mode) .BGContainer header  {
    background-color: #FAB180;
}
:global(.dark-mode) .Feed {
    background-color: #383636;
}
@media screen and (max-width: 650px ) {
    .BGContainer {
        width: 100vw
    }
}