.searchComponentContainer{
    height: fit-content;
    padding-top: 30px;
    width: 450px;
    background-color: cornflowerblue;
    position: absolute;
    top: 1.2vh;
    left: 120px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 35px -11px rgba(0,0,0,1);
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,1);
}

.inputSearchContainer{
    width: 100%;
    display: flex;
    align-items: center;
}

.searchInput{
    height: 2.5rem;
    width: 75%;
    margin: 0 15px;
    padding: 12px;
    border-radius: 10px;
    border: 2px lightgray solid;
}

.searchButton{
    background-color: cornflowerblue;
    font-size: 2rem;
    color: #232323;
    margin: 0 10px;
}

.searchButton:active{
    color: lightgray;
}

.advancedSearchButton{
    background-color: cornflowerblue;
    font-size: .8rem;
    width: 50%;
    margin: 10px auto 10px 15px;
    text-align: start;
}

.advancedSearchButton:hover{
    text-decoration: underline;
}

.advancedSearchContainer{
    opacity: 1;
    height: auto;
    padding: 5px 0 10px 0px;
    transition: .2s linear;
    display: flex;
    flex-direction: column;
    background-color: rgb(132, 166, 228);
    border-radius: 0 0 10px 10px;
}

.hidden{
    opacity: 0;
    height: 0;
    padding: 0;
}

.advancedSearchInputContainer{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 0;
    margin-bottom: 5px;
}

.advancedSearchLabel{
    font-size: 1rem;
    text-align: start;
}

.advancedSearchInput{
    height: 2.5rem;
    width: 420px;
    margin: 0;
    padding: 12px;
    border-radius: 10px;
    border: 2px lightgray solid;
}

