<<<<<<< HEAD
.container{
    margin-left: 5vw;
    margin-right: 5vw;
    /* border: 1px solid red; */
}
.dateContainer{
    display: flex;
    justify-content: center;
=======
.container{
    margin-left: 5vw;
    margin-right: 5vw;
}
.dateContainer{
    display: flex;
    justify-content: center;
>>>>>>> 728f5c71647795b98123287a044f5c0ec788a558
}