body {
    font-family: 'Poppins Medium', sans-serif;
    margin: 0;
    padding: 0;
    color: #232323;
    
  }

.container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#F1F1F1 ;
    border: 1px solid grey;
}
.left{
    /* border: 0.1px solid black; */    
    display: flex;
    flex-direction: column;
    width: 5vw;
    min-height: 100vh;
    min-width: 100px;
    background-color: #9AC2EF;
    align-items: center;
    padding-top: 10px;
    border-right: 1px solid grey;
}
.left p{
    color: white;
    margin-top: 1px;
    font-size: medium;

}
.right{
    display: inline-flex;
    /* border: .5px solid black; */
    width: 80vw;
    /* height: 100vh; */
    /* padding-top: 2vh; */
    overflow: auto;
}
.button{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 6vh;
    width: 3vw;
    min-width: 43px;
    padding: 4px;
    background-color: white;
    border: 0px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* min-width: 100vw; */
        margin: 0;
        padding: 0;
        background-color:#F1F1F1 ;
        border: 1px solid grey;
    }    
    .left{
        /* border: 0.1px solid greenyellow;     */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        min-height: 10vh;

        background-color: #9AC2EF;
        
        padding-top: 0px;
        border: 0px;
    }
    .left p{
        display: none;
    }

    .button{
        margin-top: 0px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        height: 6vh;
        width: 4vw;
        min-width: 2.7rem;
    }    
    .dark-mode{
        margin-top: 0;
    }
}

:global(.dark-mode) .container{
    background-color: #383636
}
:global(.dark-mode) .left{
    background-color: #383636;
}
:global(.dark-mode) .button{
    background-color: #383636;
}
:global(.dark-mode) .left p{
    color: #9AC2EF;
}
:global(.dark-mode) .left{
    border-right: 1px solid #CCB5A5;
}


