body {
    font-family: 'Poppins Medium', sans-serif;
    margin: 0;
    padding: 0;
    color: #232323;
    
  }

.container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#F1F1F1 ;
}
.left{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 5vw;
    min-height: 100vh;
    min-width: 100px;
    background-color: #9AC2EF;
    align-items: center;
    padding-top: 10px;
}
.left p{
    color: white;
    margin-bottom: 10px;
    font-size: medium;
}
.right{
    display: inline-flex;
    border: 1px solid black;
    width: 80vw;
    /* height: 100vh; */
    /* padding-top: 2vh; */
}
.button{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 6vh;
    width: 3vw;
    min-width: 43px;
    padding: 4px;
    background-color: white;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .button{
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        height: 6vh;
        width: 5vw;
        min-width: 55px;
        padding: 1.5vw;
    }    
}

:global(.dark-mode) .container{
    background-color: #383636
}
:global(.dark-mode) .left{
    background-color: #383636;
}
:global(.dark-mode) .button{
    background-color: #383636;
}
:global(.dark-mode) .left p{
    color: #9AC2EF;
}

