.container{
    margin-left: 5vw;
    margin-right: 5vw;
    /* border: 1px solid blue; */
}
.container h1 {
    font-family: "Rubik-Medium";
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-align: center;
    color: black;    
}
.container h3 {
    text-align: center;
    font-family: "Rubik-Regular";
    /* border-radius: .2rem; */
    /* width: fit-content; */
    padding: 0px;
    margin: 0px;
    color: black;    
}
.container input{
    font-family: "Rubik-Regular";
    font-size: 1rem;
    width: 100%;
    height: 1.6rem;
    border-radius: 10px;
    border: 0.1rem solid grey;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.container select{
    font-family: "Rubik-Regular";
    font-size: 1rem;
    width: 100%;
    height: 1.6rem;
    border-radius: 10px;
    border: 0.1rem solid grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;    
}
:global(.dark-mode) .container h1{
    color: #CCB5A5;
}
:global(.dark-mode) .container h3{
    color: #CCB5A5;
}