.navBarContainer{
    width: 5vw;
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.navBarButtonContainer{
    color: #9AC2EF;
    margin: 20px auto;
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.navBarButtonContainer:hover{
    background-color: #9AC2EF;
    color: white;
}

.navBarButtonContainer:active{
    background-color: white;
    color: #232323;
}

.navBarButtonContainerActive{
    color: white;
    margin: 20px auto;
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid white;
}

.navBarButtonContainerActive:hover{
    background-color: #9AC2EF;
    color: white;
}

.navBarButtonContainerActive:active{
    background-color: white;
    color: #232323;
}

.buttonIcon{
    margin: 10px auto 5px auto;
    font-size: 5rem;
}

.buttonText{
    margin: 5px auto;
}