<<<<<<< HEAD
.mainDiv{
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    color: #344C5A;
    /* border: 1px solid red; */
    /* display: flex; */
}

.bold{
    font-weight: bold;
}

.dropzone{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.header{
    position: relative;
    z-index: 1;
    height: 20vh;
    width: 100%;
    background-color: #9AC2EF;
    -webkit-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    border: 1px solid blue;
}

.header p{
    margin: 8vh 0 0 15vw;
    font-weight: bold;
    font-size: x-large;
}

.profilePictureBasicInfoContainer{
    /* margin: 0 auto; */
    display: flex;
    /* width: 80%; */
    flex-direction: column;
    /* padding-top: 8vh; */
    /* border: 1px solid red; */
}
.container{
    display: flex;
}

.profilePictureContainer{
    position: absolute;
    z-index: 2;
    margin-top: 5vw;
    margin-left: 5vh;
    width: fit-content;
    /* border: 1px solid black; */
}

.profilePicture{
    height: 20vh;
    min-width: 10vw;
    border-radius: 50%;
    border: 5px solid white;
}

.imageChangeButton{
    position: absolute;
    top: 16vh;
    left: 30vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userBasicInfoContainer{
    /* width: 80vw; */
    /* margin: 8vh auto 0 auto; */
    margin-top: 12vh;
    padding-left: 1.8vw;
    padding-right: 2vw;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* z-index: 1; */
    /* border: 1px solid black; */
}

.infoContainer{
    text-align: left;
}
.infoContainer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.userInfoName{
    font-size: 2rem;
}

.body{
    /* width: 75vw; */
    margin: 5vh auto;
}

.generalInfoContainer{
    border: 3px #9AC2EF solid;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.headerButtonContainer{
    padding:  10px 10px 0 0; 
}

.informationTitleDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.userInfo{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerEditionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerEditionInput{
    height: 1.2rem;
    font-size: 1.2rem;
}
.headerEditionTextarea{
    height: 20vh;
    width: 70vw;
    border-radius: 10px;
    padding: 5px;
}

.infoDiv{
    background-color: #e8e8e8;
    margin: 5vh auto;
    height: 70vh;
    width: 100vw;
    display: flex;
}

.infoLeftDiv{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.editionButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.saveButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cancelButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.buttonIcon{
    font-size: 1.5rem;
    margin: auto;
}

.infoButtonDiv{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: #344C5A;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 1px 0;
}

.button:hover{
    background-color: #4d6675;
    border: none;
}

.activeButton{
    background-color: white;
    color: #344C5A;
    border-radius: 10px 0 0 10px;
    margin: 1px 0;
    border: none;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bio{
    font-size: 40px;
    margin: auto 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .profilePictureContainer{
        position: absolute;
        z-index: 2;
        margin-top: 20vw;
        margin-left: 3vh;
        width: fit-content;
        /* border: 1px solid black; */
    }
    .profilePicture{
        height: 13vh;
        min-width: 7vw;
        border-radius: 50%;
        border: 5px solid white;
    }    
  }
=======
.mainDiv{
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    color: #344C5A;
    /* border: 1px solid red; */
    /* display: flex; */
}

.bold{
    font-weight: bold;
}

.dropzone{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.header{
    position: relative;
    z-index: 1;
    height: 20vh;
    width: 100%;
    background-color: #9AC2EF;
    -webkit-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    /* border: 1px solid blue; */
}

.header p{
    margin: 17vh 0 0 30vw;
}

.profilePictureBasicInfoContainer{
    /* margin: 0 auto; */
    display: flex;
    /* width: 80%; */
    flex-direction: column;
    /* padding-top: 8vh; */
    /* border: 1px solid black; */
}
.container{
    display: flex;
}

.profilePictureContainer{
    position: absolute;
    z-index: 2;
    margin-top: 5vw;
    margin-left: 5vh;
    width: fit-content;
    /* border: 1px solid black; */
}

.profilePicture{
    height: 20vh;
    min-width: 10vw;
    border-radius: 50%;
    border: 5px solid white;
}

.imageChangeButton{
    position: absolute;
    top: 16vh;
    left: 30vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.userBasicInfoContainer{
    /* width: 80vw; */
    /* margin: 8vh auto 0 auto; */
    margin-top: 15vh;
    padding-left: 1.8vw;
    padding-right: 2vw;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* z-index: 1; */
    /* border: 1px solid black; */
}

.infoContainer{
    text-align: left;
}
.infoContainer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.userInfoName{
    font-size: 2rem;
}

.body{
    /* width: 75vw; */
    margin: 5vh auto;
}

.generalInfoContainer{
    border: 3px #9AC2EF solid;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.headerButtonContainer{
    padding:  10px 10px 0 0; 
}

.informationTitleDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.userInfo{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerEditionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerEditionInput{
    height: 1.2rem;
    font-size: 1.2rem;
}

.infoDiv{
    background-color: #e8e8e8;
    margin: 5vh auto;
    height: 70vh;
    width: 100vw;
    display: flex;
}

.infoLeftDiv{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.editionButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.buttonIcon{
    font-size: 1.5rem;
    margin: auto;
}

.infoButtonDiv{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: #344C5A;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 1px 0;
}

.button:hover{
    background-color: #4d6675;
    border: none;
}

.activeButton{
    background-color: white;
    color: #344C5A;
    border-radius: 10px 0 0 10px;
    margin: 1px 0;
    border: none;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bio{
    font-size: 40px;
    margin: auto 20px;
}
>>>>>>> 728f5c71647795b98123287a044f5c0ec788a558
