.mainDiv{
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    color: #344C5A;
    font-family: "Poppins-Medium";
    /* border: 1px solid red; */
    /* display: flex; */
}

.bold{
    font-weight: bold;
}

.dropzone{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.header{
    position: relative;
    z-index: 1;
    height: 25vh;
    width: 100%;
    background-color: #9AC2EF;
    -webkit-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -22px rgba(0,0,0,0.75);
    /* border: 1px solid blue; */
}

.header h1{
    font-size: 2.6rem;
    text-align: center;
    width: fit-content;
    margin-left: 20rem;
    padding-top: 6rem;
    color: black;
    /* margin: 8vh 0 0 15vw; */
}


.profilePictureBasicInfoContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageContainer{
    border-radius: 90%;
    width: 14rem;
    height: 14rem;    
    position: absolute;
    z-index: 2;
    margin-top: 3rem;
    margin-left: 5vh;
    cursor: pointer;
    /* border: 1px solid greenyellow; */
}
.imageContainer img{
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 90%;    
}

.imageChangeButton{
    position: absolute;
    top: 16vh;
    left: 30vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.EditPhoto h2 {
    background-color: initial;
    margin: 0;
}
.userBasicInfoContainer{
    padding-top: 13vh;
    padding-left: 1.8vw;
    padding-right: 2vw;
    /* border: 1px solid red; */
    height: 75vh;
    /* overflow: auto; */
}
.userBasicInfoContainer h1{
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    width: fit-content;
    border-radius: .4rem;
    color: black;
}

.userBasicInfoContainer h3{
    color: black;
    margin-bottom: 1rem;
}

.userBasicInfoContainer input{
    font-family: "Rubik-Regular";
    width: 100%;
    height: 1.6rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 0.1rem solid grey
}

.userBasicInfoContainer select{
    font-family: "Rubik-Regular";
    width: 100%;
    height: 1.6rem;
    border-radius: 10px;
    border: 0.1rem solid grey;
    font-size: 1rem;
}

.userBasicInfoContainer textarea{
    font-family: "Rubik-Regular";
    font-size: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 0.1rem solid grey
}

.infoContainer > hr {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.infoContainer{
    text-align: left;
    font-family: "Rubik-Regular";
    border-radius: .2rem;
    width: fit-content;
    padding: 0 1rem;
}
.infoContainer h3{
    color: black;
}
.infoContainer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.userInfoName{
    font-size: 2rem;
}

.body{
    /* width: 75vw; */
    margin: 5vh auto;
}

.generalInfoContainer{
    border: 3px #9AC2EF solid;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.headerButtonContainer{
    padding:  10px 10px 0 0; 
}

.informationTitleDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.userInfo{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerEditionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerEditionInput{
    height: 1.2rem;
    font-size: 1.2rem;
}
.headerEditionTextarea{
    height: 20vh;
    width: 70vw;
    border-radius: 10px;
    padding: 5px;
}

.infoDiv{
    background-color: #e8e8e8;
    margin: 5vh auto;
    height: 70vh;
    width: 100vw;
    display: flex;
}

.infoLeftDiv{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.editionButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.saveButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cancelButton{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.buttonIcon{
    font-size: 1.5rem;
    margin: auto;
}

.infoButtonDiv{
    display: flex;
    flex-direction: column;
}

.button{
    background-color: #344C5A;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 1px 0;
}

.button:hover{
    background-color: #4d6675;
    border: none;
}

.activeButton{
    background-color: white;
    color: #344C5A;
    border-radius: 10px 0 0 10px;
    margin: 1px 0;
    border: none;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bio{
    font-size: 40px;
    margin: auto 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .profilePictureContainer{
        position: absolute;
        z-index: 2;
        margin-top: 20vw;
        margin-left: 3vh;
        width: fit-content;
        /* border: 1px solid black; */
    }
    .profilePicture{
        height: 13vh;
        min-width: 7vw;
        border-radius: 50%;
        border: 5px solid white;
    }    
  }

:global(.dark-mode) .header{
    background-color: #FAB180;
}
:global(.dark-mode) .header h1{
    color: #344C5A ;
}
:global(.dark-mode) .infoContainer h1{
    color: #CCB5A5;
}
:global(.dark-mode) .infoContainer h3{
    color: #CCB5A5;
}
:global(.dark-mode) .profilePictureBasicInfoContainer{
    background-color: #383636;
}
:global(.dark-mode) .userBasicInfoContainer {
    background-color: #383636;
}
:global(.dark-mode) .userBasicInfoContainer h1{
    color: #CCB5A5;
}
:global(.dark-mode) .userBasicInfoContainer h3{
    color: #CCB5A5;
}

@media screen and (max-width: 758px){
    .header h1{
        display: none;
    }
    .imageContainer{
        justify-content: center;
        width: fit-content;
        cursor: pointer;
        margin-top: 2rem;
        margin-left: 3.5rem;
        
    }
    .infoContainer{
        width: 100%;
        text-align: center;
    }
    .infoContainer h3, .infoContainer h1{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .infoContainer h1{
        font-size: 2rem;
        font-family: "Rubik-Medium";
    }

}