.container{
    display: flex;
    width: 100vh;
    height: 100vh;
    border: 2px solid black;
}

.containerChat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid blue;
}

.containerChatLeft{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border: 2px solid green;
}

.containerChatLeftHead{
    /* 'flex items-center left-[4px] top-[70] gap-3 bg-slate-400 w-[30%] h-[50px] fixed' */
    display: flex;

}

.containerChatLeftHeadImg{
    /* 'flex w-7 h-7 ml-[5px] rounded-full bg-gray-500' */
}

.imgUserLoged{
    /* 'w-full h-full object-cover rounded-full' */
}


.containerChatRight{
    /* 'flex flex-col w-[70%] h-[calc(100vh-70px)] relative bottom-[36px] pb-[0px] border-2 border-slate-500 bg-white' */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 2px solid red;
    position: relative;
}

.formMessages{
    /* 'flex justify-center' */
    display: flex;
    width: 100%;
}

.containerInputText{
    /* `flex w-[69%] justify-center h-[60px] mt-[10px] fixed bottom-[3px] p-2 bg-gray-500 ${preview && "hidden"}` */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    height: 60px;
    padding: 5px;
    background-color: rgb(53, 53, 52);
    position: fixed;
    bottom: 3px;
}


.imputFile{
    display: none;
}

.labelAdjuntarArchivo{
    /* 'custom-file-upload flex justify-center mr-[4px]  items-center px-[4px] py-[2px] bg-blue-500 text-white rounded md cursor-pointer' */
    display: flex;
    margin: 0px;
    width: 30px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(28, 149, 219);
    cursor: pointer;
}
.imgAdjuntarArchivo{
    /* 'w-[30px] h-[60px] object-cover' */
    width: 30px;
    height: 60px;
    object-fit: cover;
}

.imgEnviar{
    /* 'w-[40px] h-[40px] mr-[6px]' */
    width: 40px;
    height: 40px;

}

.buttonEnviar{
    /* 'bg-green-500 px-[8px] py-[9px] rounded-[50%] mx-2 hover:scale-110 flex justify-center items-center' */
    background-color: rgb(36, 238, 36);
    border-radius: 50%;
    padding: 8px;
    border: none;
}

.imputText{
    /* 'border-2 border-zinc-500 p-2 w-full text-black rounded-lg' */
    border: 2px solid gainsboro;
    border-radius: 12px;
    width: 50%;
    height: 40px;
}