.myContainer{
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    max-width: 45%;
    height: auto;
    padding: 5px 8px;
    background-color: rgba(144, 238, 144, 0.386) !important;
    border-radius: 10px 0 10px 10px;
}

.elseContainer{
    display: flex;
    max-width: 45%;
    height: auto;
}

.image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.messageContainer{
    margin-left: 10px;
    background-color: #9ac2ef67;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
}

.username{
    font-size: .8rem;
    font-weight: 600;
    text-align: start;
    color: #232323;
}

.messageContent{
    font-size: 1rem;
    color: black;
    text-align: start;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.time{
    font-size: .6rem;
}

.status{
    margin-left: 5px;
    font-size: .6rem;
}

.deleteButton{
    background: linear-gradient(to right, lightgray, rgba(211, 211, 211, 0));
    border-radius: 10px 0 0 10px;
    height: 100%;
    padding: 0 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}