.mainContainer{
    z-index: 5;
    width: 26%;
    height: 100vh;
    border-right: 1px grey solid;
}

.chatListHeader{
    padding: 0 15px;
    height: 80px;
    width: 100%;
    background-color: #9AC2EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerImage{
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px #232323;
}

.headerUsername{
    color: black;
    font-size: 1rem;
}

.headerContainerIcons{
    display: flex;
    gap: 2px;

}

.headerIcon{
    font-size: 1.2rem;
    padding: 0 15px;
    color: #232323;
    border-radius: 50%;
}


.headerIcon:hover{
    background-color: #b9d1ec;
    cursor: pointer;
}

/* SEARCH BAR */

.searchBar{
    display: flex;
    align-items: center;
    background-color: #FAB180;
    height: 50px;
    -webkit-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.75);
}

.searchBarInputDiv{
    background-color: #383636;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 5px auto;
    width: 90%;
}

.searchBarInput{
    background: none;
    width: 100%;
    padding-left: 10px;
    color: white;
}

.searchBarInput:focus{
    outline: none;
}

.searchIcon{
    color: white;
}
