.mainContainer{
    background: none;
    display: flex;
    height: 80px;
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #9AC2EF;
}

.mainContainerActive{
    background-color: #9ac2ef58;
    display: flex;
    height: 80px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #9AC2EF;
}

.mainContainer:hover{
    cursor: pointer;
    background-color: #F1F1F1;
}

.image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px white solid;
    margin: auto 15px;
}

.textDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.name{
    font-size: 1rem;
    color: #232323;
    margin: 0;
}

.time{
    font-size: .8rem;
    margin: 0;
}

.body{
    display: flex;
    justify-content: space-between;
}

.description{
    font-size: .8rem;
    margin: 0;
}

.unread{
    text-align: center;
    font-size: .8rem;
    margin: 0;
    background-color: #FAB180;
    color: #232323;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}