.Container {
    display: flex;
    align-items: center;
    width: 20rem;
    gap: 1rem;
}

.ImageContainer {
    height: 5rem;
    width: 5rem;
    background-color: #C4C4C4;

}

.ImageContainer img {
    width: 100%;
    height: 100%;
}

.Container h3 {
    border-radius: 0;
    margin-bottom: .5rem;
    font-size: .8rem;
    font-family: "Rubik-Regular";
}

.BGContainer hr {
    border: #C4C4C4 solid 1px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}