.mainContainer{
    height: 100%;
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    color:  lightblue;
    font-size: 15rem;
    padding: 0;
    line-height: 12rem;
}
